.image {
  max-width: 100%;
  height: auto;
}

.login {
  position: absolute;
  bottom: 7em;
  right: 15.6em;
}

.logout {
  position: absolute;
  bottom: 9.5em;
  right: 15.6em;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .login {
    bottom: 7em;
    right: 4.6em;
  }

  .logout {
    bottom: 9.5em;
    right: 4.6em;
  }
}
