<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Welcome to your new account. You can now begin logging all of your
      sailing adventures.<br />
      Fair winds and calm seas!</p>
  </body>
</html>