.links {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 1.2em;
}

.icon:hover {
  color: #f88379;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 9em;
  text-align: center;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 0.375em;
  left: 90%;
  opacity: 0;
  transition: opacity 3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
