a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: #f88379;
}

.link {
  margin: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: #f88379;
}

a:hover,
a.active {
  color: turquoise;
  text-decoration: underline;
  text-decoration-color: #f88379;
}
