.voyageDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
}

.list {
  width: 75vw;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translateX(-0.9em);
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  height: 2.5em;
  background-color: #69e0d0;
  color: white;
  font-weight: bold;
}
