.card {
  display: flex;
  flex-direction: column;
  border: 1px solid turquoise;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  box-shadow: 0 4px 8px 0 rgba(64, 224, 208);
  transition: 0.3s;
  margin: auto;
  margin-top: 1em;
}

.container {
  display: flex;
  border-bottom: solid gray 1px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(64, 224, 208);
}

.data {
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  padding: 0.25em;
}

.dateField {
  display: flex;
  justify-content: space-between;
}

.date {
  display: inline;
}

.time {
  display: inline;
}

.log {
  text-align: left;
}

.imageDiv {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
}

.notes {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.trash:hover {
  color: turquoise;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 70%;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .container {
    display: flex;
  }

  .data {
    width: 85%;
  }

  .imageDiv {
    width: 15%;
  }
}

@media screen and (min-width: 900px) {
  .data {
    width: 80%;
  }

  .imageDiv {
    display: block;
    width: 20%;
    padding: 2px;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .data {
    width: 70%;
  }

  .imageDiv {
    display: block;
    width: 30%;
    padding: 2px;
  }
}
