.confirmModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20em;
  height: auto;
  border: solid black 1px;
  border-radius: 10px;
  background-color: aliceblue;
  z-index: 200;
  transform: translate(-51%, -245%);
}

.title {
  margin: 1.5em 1em 0.5em 1em;
  text-align: center;
  color: #f88379;
}

.message {
  margin: 1em;
  color: #f88379;
  text-align: center;
}

.click {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.buttons {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  width: 8em;
  height: 2.5em;
  margin: 1em;
  background-color: #f88379;
  color: white;
  font-weight: bold;
}

.closeBtn {
  color: gray;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.openModal {
  display: block;
}

.closeModal {
  display: none;
}
