.heading {
  margin: 2em 1em 1em 1em;
  text-align: center;
}

.modal {
  position: absolute;
  top: 25%;
  left: 12%;
  width: 75%;
  height: 40%;
  border: solid black 1px;
  border-radius: 10px;
  background-color: aliceblue;
}

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em 1em 1em;
}

.emailLabel {
  font-size: 1.2em;
}

.emailInput {
  border-radius: 5px;
  margin: 0.5em;
  width: 95%;
  height: 2.5em;
}

.button {
  margin-top: 2em;
}

.modalOpen {
  display: block;
}

.modalClosed {
  display: none;
}

.x {
  color: gray;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

@media screen and (min-width: 1440px) {
  .modal {
    height: 30%;
  }

  .emailInput {
    width: 65%;
  }

  .button {
    margin-top: 4em;
  }
}

@media screen and (min-width: 1900px) {
  .modal {
    width: 50%;
    height: 45%;
    left: 25%;
  }

  .button {
    margin-top: 5em;
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .modal {
    position: fixed;
    top: 20%;
    left: 12%;
    height: 75%;
  }
}
