.heading {
  text-align: center;
  margin-top: 0.5em;
}

.divForm {
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  box-sizing: border-box;
  margin: 2em;
}

.label {
  font-size: 1.5em;
}

.input {
  width: 21em;
  height: 2.5em;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.forgot {
  margin: 1em;
}

.error {
  color: turquoise;
  text-decoration: underline;
}

.success {
  color: turquoise;
  margin: 1em 1em 0 1em;
}

@media screen and (max-width: 767px) {
  .input {
    width: 14em;
    height: 2.5em;
  }
}
